{% extends 'base.html' %}


{% block title %}
{% endblock  %}
{% block content %}
<style type="text/css">
    body {
      background-image: url("{% load static %}{% static 'back.png' %}");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
    }
    body {
      color: black;
    }
    
    p {
      position: relative;
      left: 200px;
      font-family:楷体;
      font-size: 25px;
      font-weight: bold; 
    }
    
        
        button {
          width: 200px;
          height: 60px;
        }
      </style>
      {% comment %} <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script> {% endcomment %}
    <script type="text/javascript">
      function preventBack() {
          window.history.forward(); 
      }
        
      setTimeout("preventBack()", 0);
        
      window.onunload = function () { null };
  </script>
    
    <body>
        <br /><br /><br /><br /><br />
    <p>感谢您接受参与这项研究。</p>
    <p>这项研究是关于航空旅行的选择。</p>
    <P>我们将要求您预订一张中国境内的单程国内航班。</p>
    <P>您只要做出与现实生活中的情况相同的选择即可。</p>
    <P>您可以根据您的喜好选择出发城市和到达城市。</p>
    <P>您也可以选择您喜欢的航空公司，或者仅选择不同航空公司显示的多个可能的航班之一。</p>
    <P>我们希望您能按照显示的所有说明做出有关航班的决定，就像您在现实生活中订票一样。</p>
<br /><br />
<div class="mb-3">
    <form method="POST" action="" class="row justify-content-center">
        {% csrf_token %}
        <div class="col-auto ml-auto mr-auto">
            {{ form.as_p }}
            <br>
            <button class="btn btn-success">知道了</button>
        </div>
    </form>
</div>


</body>
{% endblock  %}