{% extends 'base.html' %}


{% block title %}
{% endblock  %}
{% block content %}
<style type="text/css">
    body {
      background-image: url("{% load static %}{% static 'back2.PNG' %}");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
    }
    </style>

<div class="table-responsive" style="border-radius: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 4);margin-top: 100px;">
    <table class="table table-hover" style="background-color: white;">
        <thead>

            <th style="color: rgb(0, 123, 255);text-align: center;"></th>
            <th style="color: rgb(0, 123, 255);text-align: center;"></th>

        </thead>
        <tbody>
            <tr>
                <td><span style="display: block; text-align: right;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09-06 周三 </span></br><span style="display: block; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;{{ airline.airlines }}{{ airline.flight }}</span></br><span style="display: block; text-align: right;font-size:35px;">{{ airline.departure_time }}</span></br><span style="display: block; text-align: right;">准点率：{{ airline.punctuality_rate }}</span></td>
                <td><span style="display: block; text-align: left;font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ airline.starting_airport }}<img src="{%static 'arrow.PNG'%}" alt="" width="50" height="8">{{ airline.destination_airport }}</span></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ airline.aircraft_type }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经济舱</br></br><span style="display: block; text-align: left;font-size:35px;">&nbsp;&nbsp;<img src="{%static 'arrow.PNG'%}" alt="" width="50" height="8">&nbsp;&nbsp;&nbsp;{{ airline.arrival_time }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: orange;font-size:40px;">{{ airline.price }}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<center>
<div class="btn-group" >
    <a href="{% url 'search' current_order %}" class="btn btn-secondary">上一步</a>
    <a href="{% url 'check_bag' airline.id current_order %}" class="btn btn-primary" onclick="save_airline()">下一步</a>
</div>
</center>

<!-- Passing Data -->
<script>
    localStorage.clear();
    function save_airline(){
        var carbon_choice = "{{ carbon_offset_choice }}";
        

        localStorage.setItem('starting_airport', '{{ airline.starting_airport }}');
        localStorage.setItem('destination_airport', '{{ airline.destination_airport }}');
        localStorage.setItem('airlines', '{{ airline.airlines }}');
        localStorage.setItem('flight', '{{ airline.flight }}');
        localStorage.setItem('aircraft_type', '{{ airline.aircraft_type }}');
        localStorage.setItem('departure_time', '{{ airline.departure_time }}');
        localStorage.setItem('arrival_time', '{{ airline.arrival_time }}');
        localStorage.setItem('punctuality_rate', '{{ airline.punctuality_rate }}');
        localStorage.setItem('price', '{{ airline.price }}');
        localStorage.setItem('carbon_choice', '{{ carbon_offset_choice }}');

        console.log('total price: ' + localStorage.getItem('total_price'));
    }


</script>
{% endblock  %}