{% extends 'base.html' %}


{% block title %}

{% endblock  %}
{% block content %}
<style type="text/css">
    body {
      background-image: url("{% load static %}{% static 'back4.PNG' %}");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
    }
    .mb-3 {
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 调整阴影效果的样式 */
        width: 800px; /* 设置宽度 */
        height: 400px; /* 设置高度 */
      }

    </style>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>

<br /><br /><br /><br />
<div class="mb-3">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-hover">

                {{ form.as_table}}
                <tbody>
                    <tr>
                        <th>出发机场</th>
                        <td id="starting_airport"></td>
                    </tr>
                    <tr>
                        <th>目的地机场</th>
                        <td id="destination_airport"></td>
                    </tr>
                    <tr>
                        <th>航空公司</th>
                        <td id="airlines"></td>
                    </tr>
                    <tr>
                        <th>航班</th>
                        <td id="flight"></td>
                    </tr>
                    <tr>
                        <th>飞机类型</th>
                        <td id="aircraft_type"></td>
                    </tr>
                    <tr>
                        <th>起飞时间</th>
                        <td id="departure_time"></td>
                    </tr>
                    <tr>
                        <th>抵达时间</th>
                        <td id="arrival_time"></td>
                    </tr>
                    <tr>
                        <th>准点率</th>
                        <td id="punctuality_rate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        </br></br></br></br>
        <div class="d-grid gap-2 col-6 mx-auto" style="position: absolute; top: 500px; right: 400px;">
                {% if carbon_offset_choice == 0 or carbon_offset_choice == 3 %}
                <a href="{% url 'check_bag' airline_id current_order %}" class="btn btn-primary">返回修改</a>
                {% else %}
                <a href="{% url 'carbon_offset' airline_id current_order %}" class="btn btn-primary">返回修改</a>
                {% endif %}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下一步
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Q1:您想返回并进行任何更改吗</br></br>
                            <div class="form-check">                                
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  是&nbsp;&nbsp;&nbsp;
                                </label>
                                {% if carbon_offset_choice == 0 or carbon_offset_choice == 3 %}
                                <a href="{% url 'check_bag' airline_id current_order %}" class="btn btn-secondary">返回修改</a>
                                {% else %}
                                <a href="{% url 'carbon_offset' airline_id current_order %}" class="btn btn-secondary">返回修改</a>
                                {% endif %}
                            </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  否
                                </label>
                              </div>
                        </br>Q2:如果这是一次真正的购票，我会接受支付这张机票。</br></br>
                            <label for="customRange3" class="form-label"><span style="font-size: 15px;">完全不同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非常不同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部分不同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不确定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部分同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非常同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;完全同意</span></label>
                            <input type="range" class="form-range" min="0" max="3.0" step="0.5" id="customRange3"> 
                        </br>Q3:如果这是现实生活中的选择，您会选择这个出发地和目的地作为：</br></br> 
                        <div class="form-check">                                
                            <input class="form-check-input" type="radio" name="flexRadioDefaultTwo" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              休闲度假
                            </label>
                        </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefaultTwo" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              出差工作
                            </label>
                          </div>                                                                                 
                            <button class="d-grid gap-2 col-6 mx-auto">下一步</button></br>
                        </div>
                      </div>
                    </div>
                </div>
            </div></br></br></br></br></br> 

    </form>
</div>
<div class="table-responsive" style="background-color: rgba(0, 0, 0, 0.1); position: absolute; top: 95px; right: 200px; width: 400px; height: 280px;">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-hover table-borderless" style="background-color: white;">
                {{ form.as_table}}
                <tbody>
                    <tr>
                        <th style="font-size: 14px;">成人</th>
                        <td id="chengren" style="font-size: 14px;text-align: right;"></td>
                    </tr>
                    <tr>
                        <th style="font-size: 14px;">机建</th>
                        <td style="font-size: 14px;text-align: right;">100CNY</td>
                    </tr>
                    <tr>
                        <th style="font-size: 14px;">燃油税</th>
                        <td style="font-size: 14px;text-align: right;">50CNY</td>
                    </tr>
                    <tr>
                        <th style="font-size: 14px;">行李额</th>
                        <td id="check_bag_price" style="font-size: 14px;text-align: right;"></td>
                    </tr>
                    <tr>
                        <th style="font-size: 14px;border-bottom: 1px solid lightgrey;">碳补偿费用</th>
                        <td id="carbon" style="font-size: 14px;border-bottom: 1px solid lightgrey; text-align: right;" ></td>
                    </tr>

                    <tr>
                        <th></th>
                        <td id="total_price" style="font-size: 30px; color: orange;text-align: right;"></td>
                    </tr>

                </tbody>
            </table>
        </div>   
    </form>
</div>

        
<script>
    var carbon_offset_fee = "{{ carbon_offset_fee }}";
    var carbon_choice = "{{ carbon_offset_choice }}";
    
    document.getElementById("starting_airport").textContent = localStorage.getItem('starting_airport')
    document.getElementById("destination_airport").textContent = localStorage.getItem('destination_airport')
    document.getElementById("airlines").textContent = localStorage.getItem('airlines')
    document.getElementById("flight").textContent = localStorage.getItem('flight')
    document.getElementById("aircraft_type").textContent = localStorage.getItem('aircraft_type')
    document.getElementById("departure_time").textContent = localStorage.getItem('departure_time')
    document.getElementById("arrival_time").textContent = localStorage.getItem('arrival_time')
    document.getElementById("punctuality_rate").textContent = localStorage.getItem('punctuality_rate')  
    
    document.getElementById("chengren").textContent = localStorage.getItem('chengren')
    document.getElementById('check_bag_price').textContent = localStorage.getItem('check_bag_price')     
    document.getElementById('total_price').textContent = localStorage.getItem('total_price')
    if(localStorage.getItem('paid')== 'true'){
        document.getElementById('carbon').textContent =  carbon_offset_fee + "CNY";
    }
    else{
        document.getElementById('carbon').textContent='0'
    }


    document.getElementById('id_starting_airport').setAttribute('value',localStorage.getItem('starting_airport'))
    document.getElementById('id_destination_airport').setAttribute('value',localStorage.getItem('destination_airport'))
    document.getElementById('id_airlines').setAttribute('value',localStorage.getItem('airlines'))
    document.getElementById('id_flight').setAttribute('value',localStorage.getItem('flight'))
    document.getElementById('id_aircraft_type').setAttribute('value',localStorage.getItem('aircraft_type'))
    document.getElementById('id_departure_time').setAttribute('value',localStorage.getItem('departure_time'))
    document.getElementById('id_arrival_time').setAttribute('value',localStorage.getItem('arrival_time'))
    document.getElementById('id_punctuality_rate').setAttribute('value',localStorage.getItem('punctuality_rate'))
    document.getElementById('id_chengren').setAttribute('value',localStorage.getItem('chengren'))
    document.getElementById('id_check_bag_price').setAttribute('value',localStorage.getItem('check_bag_price'))  




</script>
{% endblock  %}