{% extends 'base.html' %}


{% block title %}

{% endblock  %}
{% block content %}
<style type="text/css">
    body {
      background-image: url("{% load static %}{% static 'back8.PNG' %}");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
    }
    </style>
<!-- {% if carbon_offset_choice == 0 %}
<div class="card">
<h5 class="card-header">Carbon Offset</h5>
<div class="card-body">
    <h5 class="card-title">Control Group</h5>
    <p class="card-text">Standard procedure; no carbon offset program offered during booking as per usual procedure in most airlines.</p>
    <a href="#" class="btn btn-primary">Go</a>
</div>
</div>
{% endif %} -->

{% if carbon_offset_choice == 1 %}
</br></br></br></br>
<div style="display: flex; justify-content: center;">
    <div class="card" style="width: 1000px; height: 150px;">
        <h5 class="card-header">碳补偿</h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Basic Program (Opt-in)</h5> -->
            <!-- <p class="card-text">Carbon offset is offered as a possibility that passengers may choose (opt-in); the few airlines that offer carbon offset during the online booking present it this way.</p> -->
            我接受支付CNY{{carbon_offset_fee}}以帮助减少
            <a href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="碳抵消是作为乘客通过投资碳减排项目来“中和”他们在特定旅程中所占飞机碳排放比例的一种方式。 这项投资包括来自风电场和水力发电厂的可再生能源等项目。"> 碳排放的影响（点击了解更多信息）。</a>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check_button" onclick="switch_check(this)">
                <label class="form-check-label" for="flexCheckDefault">
                是
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check_button_no" onclick="switch_check(this)">
                <label class="form-check-label" for="flexCheckChecked">
                否
                </label>
            </div>
        </div>
    </div>  
</div>
{% endif %}

{% if carbon_offset_choice == 2 %}
</br></br></br></br>
<div style="display: flex; justify-content: center;">
    <div class="card" style="width: 1000px; height: 150px;">
        <h5 class="card-header">碳补偿</h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Default with Opt-out Choice</h5>
            <p class="card-text">Carbon offset is offered already pre-selected; passengers may refuse this selection (opt-out). This will be one of the innovative defaults tested in this project.</p> -->
            我接受支付CNY{{carbon_offset_fee}}以帮助减少
            <a href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="碳抵消是作为乘客通过投资碳减排项目来“中和”他们在特定旅程中所占飞机碳排放比例的一种方式。 这项投资包括来自风电场和水力发电厂的可再生能源等项目。"> 碳排放的影响（点击了解更多信息）</a>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check_button" checked onclick="switch_check(this)">
                <label class="form-check-label" for="flexCheckDefault">
                是 （已选择此选项，但您可以选择不选。）
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check_button_no" onclick="switch_check(this)">
                <label class="form-check-label" for="flexCheckChecked">
                否
                </label>
            </div>
            </div>
        </div>
</div>
{% endif %}


<!-- {% if carbon_offset_choice == 3 %}
<div class="card">
    <h5 class="card-header">Carbon Offset</h5>
    <div class="card-body">
        <h5 class="card-title">Default Added Fee (No Opt-out)</h5>
        <p class="card-text">Carbon offset included by default in the ticket cost; The carbon fee will be automatically added to all other aviation taxes and fees. This is the second innovative deafult option being tested in this project.</p>

        <a href="#" class="btn btn-primary">Go</a>
    </div>
</div>
{% endif %} -->
<br /><br /><br />
<center>
    <div class="btn-group" >
        <a href="{% url 'check_bag' airline_id current_order %}" class="btn btn-secondary">返回修改</a>
        <a href="{% url 'submit_order' airline_id current_order %}" class="btn btn-info" type="button" onclick="check_out()">下一步</a>
    </div>
</center>


<!-- Passing Data -->
<script>
    function switch_check(obj){
        console.log(document.getElementById(obj.id).checked)
        if(document.getElementById(obj.id).checked){
            // document.getElementById(obj.id).removeAttribute("checked");
            if(obj.id == 'check_button'){
                document.getElementById('check_button_no').checked = false;
            }
            else{
                document.getElementById('check_button').checked = false;
            }
        }
        else{
            if(obj.id == 'check_button'){
                document.getElementById('check_button_no').checked = false;
                
            }
            else{
                document.getElementById('check_button').checked = false;
            }
        }
    }

    function check_out(){
        var carbon_choice = "{{ carbon_offset_choice }}";
        var airline_price = localStorage.getItem("price");
        var check_bag_price = Number(localStorage.getItem('check_bag_price'));
       
        if(carbon_choice == 1 || carbon_choice == 2){
            console.log(document.getElementById('check_button').checked);
            if(document.getElementById('check_button').checked){
                console.log(airline_price + " add {{carbon_offset_fee}} :");
                var fee = Number(airline_price.replace('CNY',""))+Number('{{carbon_offset_fee}}')+check_bag_price;
                console.log(fee);
                localStorage.setItem('total_price', String(fee) + 'CNY');
                localStorage.setItem('paid', "true");
            }
            else {
                console.log("Cancle Fee");
                var fee = Number(airline_price.replace('CNY',""))+check_bag_price;
                localStorage.setItem('total_price', String(fee) + 'CNY'); 
                localStorage.setItem('paid', "false");
            }
        }
        // else if(carbon_choice == 3){
        //     console.log("Default include {{carbon_offset_fee}}");
        //     console.log(airline_price + "add {{carbon_offset_fee}} :");
        //     var fee = Number(airline_price.replace('$',"").split(" ").join(""))+Number('{{carbon_offset_fee}}');
        //     console.log(fee);
        //     localStorage.setItem('total_price', '$'+ String(fee));
        // }
        // else {
        //     console.log('No offset');
        //     localStorage.setItem('total_price', airline_price);
        // }


        console.log('total price: ' + localStorage.getItem('total_price'));
    }


</script>
<script>

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    
</script>
<script>
    // 获取 localStorage 中的 check_bag_price
    var check_bag_price = localStorage.getItem("check_bag_price");

    // 将 check_bag_price 的值插入到占位符元素中
    var checkBagPricePlaceholder = document.getElementById("check-bag-price-placeholder");
    checkBagPricePlaceholder.innerText = check_bag_price;

</script>
<!-- carbon_offset.html -->
{% comment %} <script>
    // 定义变量来存储开始时间和停留时间
    var startTime;
    var stayDuration = 0;

    // 函数：开始计时
    function startTimer() {
        startTime = new Date().getTime(); // 记录开始时间
    }

    // 函数：停止计时
    function stopTimer() {
        var endTime = new Date().getTime(); // 记录结束时间
        stayDuration += endTime - startTime; // 累计停留时间
    }

    // 设置计时器
    setTimeout(stopTimer, 10000); // 停留时间为 10 秒

    // 监听页面加载和卸载事件
    window.addEventListener('load', startTimer);
    window.addEventListener('beforeunload', stopTimer);

    // 将停留时间发送到后端进行处理
    function sendStayDuration() {
        var orderId = "{{ current_order }}";  // 获取当前订单的 id，你可能需要根据你的代码结构进行调整

        // 使用 AJAX 发送停留时间数据和订单 id 到后端
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/save_stay_duration', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('停留时间已发送到后端');
            }
        };
        xhr.send(JSON.stringify({ stayDuration: stayDuration, orderId: orderId }));
    }

    // 在页面离开时发送停留时间数据
    window.addEventListener('beforeunload', sendStayDuration);
</script> {% endcomment %}

{% endblock  %}
