<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body {
  background-image: url("{% load static %}{% static 'back.png' %}");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



h1 {
  text-align: center;
  font-family: 华文行楷;
  font-size: 120px;
  text-shadow: 0 0 10px #fff;
}

  </style>
</head>
<body>
<h1>祝您生活愉快!</h1>

</body>
</html>
